@import "../../base";
.masonry-product {
  .section-inner {
    margin-bottom: 50px;
    .head {
      margin-bottom: 44px;
      flex-wrap: wrap;
      gap: 15px;
      @include tablet {
        margin-bottom: 30px;
      }
      @include mobile {
        margin-bottom: 20px;
      }
    }
    @include tablet {
      margin-bottom: 30px;
    }
    @include mobile {
      margin-bottom: 30px;
    }
    ul {
      flex-wrap: wrap;
      justify-content: center;
      align-items: c;
      li {
        margin: 0;
        button {
          padding: 0 10px;
          background: none;
          font-size: 16px;
          color: #253d4e;
          transition: 0.15s ease-in-out;
          &:hover {
            color: #3bb77e;
            transform: translateY(-3px);
            @include mobile {
              transform: none;
            }
          }

          &[data-active="true"] {
            color: #3bb77e;
          }
        }
      }
    }
  }
}
